<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="ISO-8859-1">
    <title>View Post - Feddit</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4131186a96.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- HEADER -->
    <div class="header">
        <a href="/"><img src="../static/images/logo.png" th:src="@{images/logo.png}"/></a>
        <a href="/my_account" class="no-text-decoration" sec:authorize="isAuthenticated()">
            <h3>[[${#request.userPrincipal.principal.fullName}]]</h3>
        </a>
        <div>
            <div class="left_sub_header" sec:authorize="isAuthenticated()">
                <a href="/" class="button">Go back</a>
            </div>
            <div class="left_sub_header" sec:authorize="isAnonymous()">
                <p><a href="/signup" class="button" >Sign Up</a></p>
                <p><a href="/login" class="button" >Login</a></p>
            </div>
        </div>
    </div>

    <div class="full_post">
        <div class="post-sidebar">
            <form action="#" sec:authorize="isAuthenticated()" th:action="@{'/vote/{id}'(id=${post.id})}" th:object="${vote}" th:method="post" >
                <button type="submit" name="vote_type" th:value="UP_VOTE"
                        th:classappend="${post.hasVoteByUser(#request.userPrincipal.principal.id, 'UP_VOTE')} ? likeClicked : nothing">
                    <i class="far fa-thumbs-up"></i>
                </button>
                <input type="hidden" name="typeObj" th:value="${post.getClazz()}"/>
                <input type="hidden" name="post" th:value="${post.id}"/>
                <input type="hidden" name="parent_type" th:value="${post.getClazz()}"/>
                <input type="hidden" name="page" th:value="post"/>
            </form>


            <p class="date" th:with="result=${post.upVotes - post.downVotes}" th:text="${result}"></p>

            <form action="#" sec:authorize="isAuthenticated()" th:action="@{'/vote/{id}'(id=${post.id})}" th:object="${vote}" th:method="post" >
                <button type="submit" name="vote_type" th:value="DOWN_VOTE"
                        th:classappend="${post.hasVoteByUser(#request.userPrincipal.principal.id, 'DOWN_VOTE')} ? dislikeClicked : nothing" >
                    <i class="far fa-thumbs-down"></i>
                </button>
                <input type="hidden" name="typeObj" th:value="${post.getClazz()}"/>
                <input type="hidden" name="post" th:value="${post.id}"/>
                <input type="hidden" name="parent_type" th:value="${post.getClazz()}"/>
                <input type="hidden" name="page" th:value="post"/>
            </form>
        </div>
        <div class="post-content">
            <div class="post-header">
                Posted by <p class="user" th:text="${post.user.username}"></p>
                <p class="date" th:text="${post.creationDate}"></p>
                <form class="remove-post" sec:authorize="hasAuthority('ADMIN')" action="#" th:action="@{'/removePost/{id}'(id=${post.id})}" th:method="delete" >
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="X" />
                </form>
            </div>
            <div class="post-title">
                <p th:text="${post.title}"></p>
            </div>
            <div class="post-text">
                <p th:text="${post.content}"></p>
            </div>
            <p th:classappend="${commentResult.getType()}" th:text="${commentResult.getMessage()}"></p>
        </div>
            <div class="comment_container">
                <section layout:include="@{/post_fragment.html} :: comment_section" th:with="object=${post}"></section>
                <form class="add_comment" method="post" th:action="@{/add_comment}" sec:authorize="isAuthenticated()">
                    <input type="text" placeholder="Insert your comment here" required
                           name="content" th:value="${content}"/>
                    <input type="hidden" name="parent_type" th:value="${post.getClazz()}"/>
                    <input type="hidden" name="parent_id" th:value="${post.id}"/>
                    <input type="hidden" name="post" th:value="${post.id}"/>
                    <input type="submit" value="Add comment" />
                </form>
            </div>
    </div>
</body>
<script type="text/javascript">
    var post_summary = document.getElementsByClassName("post_summary")[0];
    post_summary.setAttribute("open", "true");
</script>
</html>